.pokemon-card {
  justify-self: center;
  align-items: flex-start;
  border: 1px #00000059 solid;
  box-shadow: 0px 0px 1px 0px black;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  max-width: 300px;
}

.pokemon-card .pokemon-title {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.pokemon-card img {
  transition: 1s ease;
}

.pokemon-card:hover img {
  background-image: radial-gradient(#7d7d7d, #b7b7b7, white);
  border-radius: 50%;
}