.pokemon-card-list {
  text-align: center;
}

.pokemon-card-list img.pokemon-logo {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

.pokemon-card-list button {
  margin: 10px;
  height: 36px;
  width: 64px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.pokemon-card-list button.disabled {
  cursor: progress;
  pointer-events: none;
}

.pokemon-card-list button img {
  height: 20px;
}

.pokemon-card-list-container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  gap: 10px;

  max-width: 1120px;
  margin: 20px auto;
}

@media screen and (min-width: 540px) {
  .pokemon-card-list-container {
    grid-template-columns: repeat(3, calc(33.33% - 6px));
  }
}

@media screen and (min-width: 720px) {
  .pokemon-card-list-container {
    grid-template-columns: repeat(4, calc(25% - 7px));
  }
}

@media screen and (min-width: 960px) {
  .pokemon-card-list-container {
    grid-template-columns: repeat(5, calc(20% - 8px));
  }
}

@media screen and (min-width: 1140px) {
  .pokemon-card-list-container {
    grid-template-columns: repeat(6, calc(16.66% - 9px));
  }
}